.logo {
    height: 17px;
}

.mainContent {
    margin-top: 40px;
    columns: 2 auto;
}

.container-list {
    padding-left: 0!important;
}

.navItem {
    font-size: 13px;
    line-height: 14px;
    color: #000000;
    font-family: "Arial";
    padding: 15px;
}

.prodDescription {
    width: 563px;
    height: 64px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #1a1a1a;
    font-family: "Arial";
    font-weight: bold;
    margin-top: 15px;
}

.prodImage {
    resize: both;
}

.prodPlacement {
    padding-left: 20px;
}

.prodTitle {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 64px;
    letter-spacing: -2px;
    line-height: 68px;
    color: #1a1a1a;
    font-family: "Arial";
    font-weight: bold;
}

.caseStudyLink {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 13px;
    color: #3852f7;
    font-family: "Arial";
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.questions {
    margin-top: 30px;
    margin-left: 30px
}

.questionTitle {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 36px;
    color: #000000;
    font-family: "Arial";
    font-weight: bold;
}

.questionText {
    font-size: 21px;
    line-height: 37px;
    color: #333333;
    font-family: "Georgia";
}